{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h2>Zarejestruj się</h2>
    <form id="register-form" method="POST" action="{{ url_for('register') }}">
        <div>
            <label for="username">Nazwa użytkownika</label>
            <input type="text" id="username" name="username" required placeholder="Wybierz swój nick...">
        </div>
        <button type="submit" class="btn">Stwórz konto</button>
    </form>
    <p style="margin-top: 15px; text-align: center; font-size: 0.9rem; color: #a0a0b0;">
        Masz już konto? <a href="{{ url_for('login') }}" style="color: #00dfd8;">Zaloguj się</a>
    </p>
</div>
{% endblock %}
